:root {
  --color-pink: #F84C84;
  --color-red: #E0042C;
  --color-blue: #089CC4;
  --color-yellow: #F8CC04;
  --color-black: #000;
  --color-neutral: #F2F7F8;

  --font-primary: "aktiv-grotesk-condensed", sans-serif;
  --font-secondary: "barricada-pro", serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-yellow);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-pink);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-black);
  text-transform: uppercase;
}

h4 {
  font-family: var(--font-primary);
  color: var(--color-black);
}

ul,
ol,
dl {
  font-family: var(--font-primary);
  color: var(--color-black);
  text-decoration: none;
}


a {
  font-family: var(--font-primary);
  color: var(--color-pink);
  text-decoration: none;
}

blockquote {
  font-family: var(--font-primary);
  color: var(--color-blue);
}

cite {
  font-family: var(--font-primary);
  color: var(--color-blue);
}

em {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-weight: bold;
  }

strong {
  font-family: var(--font-primary);
  color: var(--color-red);
  font-weight: bold;
}

del {

}

ins {

}

abbr {

}

dfn {

}

i {
  font-family: var(--font-primary);
  font-style: italic;
  color: var(--color-blue);
}

b {

}

mark {
  background-color: var(--color-yellow);
}

q {
  font-family: var(--font-primary);
  color: var(--color-blue);
}

s {

}

u {

}
