:root {
  --color-pink: #F84C84;
  --color-red: #E0042C;
  --color-blue: #089CC4;
  --color-yellow: #F8CC04;
  --color-neutral: #F2F7F8;

  --font-primary: "aktiv-grotesk-condensed", sans-serif;
  --font-secondary: "barricada-pro", serif;
}

html {
  font-family: var(--font-primary);
}

/* Focus on color, font-weight, font-style & font-family */

h1 {
  font: "barricada pro" #F8CC04;
}

h2 {
  font: "barricada pro" #F84C84;
}

h3 {
  font: "aktiv-grotesk-condensed" #000;
}

h4 {
  font: "aktiv-grotesk-condensed" #000;
  text-transform: uppercase;
}

ul,
ol,
dl, {
  font: "aktiv-grotesk-condensed", serif #000;
}

a {
  font: "aktiv-grotesk-condensed", serif #F84C84;
}

blockquote {
  font-family: "aktiv-grotesk-condensed", serif;
  font-style: italic;
  color: #089CC4;
}

cite {
  font-family: "aktiv-grotesk-condensed", serif;
  color: #089CC4;
}

em {
  font-family: "aktiv-grotesk-condensed", serif;
  font-weight: bold;
  color: #000;
  }

strong {
  font-family: "aktiv-grotesk-condensed", serif;
  font-weight: bold;
  color: #E0042C;
}

del {

}

ins {

}

abbr {

}

dfn {

}

i {
  font-style: italic;
  color: #089CC4;
}

b {

}

mark {

}

q {

}

s {

}

u {

}
