:root {
  --color-pink: #F84C84;
  --color-red: #E0042C;
  --color-blue: #089CC4;
  --color-yellow: #F8CC04;
  --color-neutral: #F2F7F8;

  --font-primary: "aktiv-grotesk-condensed", sans-serif;
  --font-secondary: "barricada-pro", serif;
}

html {
  font-family: var(--font-primary);
}

/* Focus on color, font-weight, font-style & font-family */

h1 {
  font: "barricada pro" #F8CC04;
}

h2 {
  font: "barricada pro" #F84C84;
}

h3 {
  font: "aktiv-grotesk-condensed" #000;
}

h4 {
  font: "aktiv-grotesk-condensed" #000;
  text-transform: uppercase;
}

h5 {

}

h6 {

}

ul {

}

ol {

}

dl {

}

a {

}

blockquote {

}

cite {

}

em {

  }

strong {

}

del {

}

ins {

}

abbr {

}

dfn {

}

i {

}

b {

}

mark {

}

q {

}

s {

}

u {

}
