.banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-img {
  max-height: 600px;
  overflow: hidden;
}

.banner-desc {
  color: var(--color-pink);
  font-weight: 500;
}

.sale-banner {
  background-color: var(--color-red);
}
